html {
  background: url(../images/cliff.jpg) no-repeat top left;
}

#bear {
  position: absolute;
  top: 100px;
  right: 0;
}

/* Write your solution here */
/* when screen minimum width is 1196px */
@media only screen and (min-width: 1196px) {
  #bear {
    /* Moves Bear 800 pixels from the Left side */
    left: 800px;
  }
}
