html {
  background: url(../images/water-park.jpg) no-repeat top left;
  width: 100%;
}

body{
  max-width: 1028px;
}

#ring {
  background: url(../images/water-ring.png) no-repeat top left;
  width: 1200px;
  height: 750px;
  position: relative;
  top: -10px;
  left: -8px;
  z-index: 1;
}

#dolphin {
  position: absolute;
  top: 400px;
  right: 0;
}

/* Write your solution here */

@media only screen and (max-width: 1200px) and (min-width: 100px) {
  #dolphin{
    top: 300px;
    right: 0;
  }
}

@media only screen and (max-width: 1000px) {
  #dolphin{
    top: 200px;
    right: 0;
  }
}

@media only screen and (max-width: 800px) {
  #dolphin{
    top: 100px;
    right: 0;
  }
}

@media only screen and (max-width: 650px) {
  #dolphin{
    top: 50px;
    left: 0;
  }
}

@media only screen and (max-width: 400px) {
  #dolphin{
    top: 100px;
    left: 0;
  }
}

@media only screen and (max-width: 200px) {
  #dolphin{
    top: 200px;
    left: 0;
  }
}

@media only screen and (max-width: 100px) {
  #dolphin{
    top: 300px;
    left: 0;
  }
}






