html {
  background: url(../images/water-park.jpg) no-repeat top left;
}

#ring {
  background: url(../images/water-ring.png) no-repeat top left;
  width: 600px;
  height: 900px;
  position: absolute;
  top: -10px;
  left: -8px;
  z-index: 2;
}

#dolphin {
  position: absolute;;
  top: 250px;
  right: 0;
}

/* Write your solution here */
