html {
  background: url(../images/croc.jpg) no-repeat top left;
}

#ostrich {
  position: absolute;
  top: 0;
  right: 0;
}

/* Write your solution here */

@media only screen and (max-width: 1170px) and (min-width: 406px) {
  #ostrich {
    top: -50px;
  }

}
